{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Claim login for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% blocktrans %}
Associate logins to the user you chose. As Debian Developer, you can
associate any login to any person: you can use this to help friends or
people in your teams get credited.
<b>Always ask</b> before associating a login to a person other than
you: do not associate people without their consent.
{% endblocktrans %}
</p>

<hr class="my-4">

<form method="POST" action="{% url 'claim:login' username=target.username %}">{% csrf_token %}
  {% for f in form.hidden_fields %}{{f}}{% endfor %}
  {% for field in form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-8">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
    </div>
  </div>
  {% endfor %}
</form>

<a class="btn btn-secondary btn-lg" href="{% url 'claim:menu' username=target.username %}"><span class="fa fa-times"></span> {% trans "Cancel" %}</a>

</div>

{% if logins %}
<p class="lead">{% trans "Matching logins" %}</p>

<ul>
  {% for login in logins %}
  <li>{{login.name}}{% if login.user_id %}{% trans " (associated)" %}{% endif %}</li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
