{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Unclaim identifiers for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% if user.is_dd %}
{% blocktrans %}
Deassociate identifiers to the user you chose. As Debian Developer, you can
deassociate any identifier from any person: you can use this to help friends or
people in your teams fix issues with their contributor mappings.
<b>Always ask</b> before deassociating an identifier from a person other than
you: do not change people's information without their consent.
{% endblocktrans %}
{% else %}
Deassociate identifiers from your user. If you need help, you can ask a Debian
Developer that knows you well to do the changes for you.
{% endif %}
</p>

{% if messages %}
<hr class="my-4">

<ul class="list-group">
{% for message in messages %}
<li class="list-group-item
  {% if message.level_tag == 'error' %}list-group-item-danger{% endif %}
  {% if message.level_tag == 'warning' %}list-group-item-warning{% endif %}
  {% if message.level_tag == 'info' %}list-group-item-info{% endif %}
  "><span class="fa fa-{% if message.level_tag == 'info' %}info-circle{% else %}warning{% endif %}"></span> {{message}}</li>
{% endfor %}
</ul>
{% endif %}

<hr class="my-4">

<div class="list-group">
{% for ident in target.identifiers.all %}
<a class="list-group-item list-group-item-action" href="{% url 'claim:unclaim' username=target.username ident=ident.pk %}">
  {% if ident.type == "email" %}
  <span class="fa fa-at"></span> Email: {{ident.name}}
  {% elif ident.type == "fpr" %}
  <span class="fa fa-gnupg"></span> GPG key: {{ident.name}}
  {% elif ident.type == "login" %}
  <span class="fa fa-user"></span> Login: {{ident.name}}
  {% else %}
  <span class="fa fa-chevron-circle-right"></span> {{ident.type}}: {{ident.name}}
  {% endif %}
</a>
{% empty %}
<span class="list-group-items">{% trans 'There are no identifiers associated at the moment' %}</span>
{% endfor %}
</div>

</div>

{% endblock %}
