{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Debian Contributors data sources</h1>

<p class="lead">
This is a list of all the data sources that feed the Debian Contributors list.
To create a new one, see
<a href="https://wiki.debian.org/DebianContributors">the wiki</a> and
<a href="https://salsa.debian.org/python-team/modules/python-debiancontributors/blob/master/README.md">python-debiancontributors</a>.
</p>

<table id="sources" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Last submission</th>
        <th>Latest contribution</th>
        <th>Admins</th>
        {% if user.is_authenticated %}
        <th>Actions</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for s in sources %}
    <tr>
      <td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
      <td>{{s.desc}}</td>
      <td data-sort="{{s.last_import|date:"Ymd"}}">
        {% if s.last_import %}
          {{s.last_import|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td data-sort="{{s.last_contribution|date:"Ymd"}}">
        {% if s.last_contribution %}
          {{s.last_contribution|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td>
        {% for u in s.admins.all %}
        <a href="{{u.get_absolute_url}}">{{u.username}}</a>
        {% endfor %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a class="btn btn-sm btn-primary" href="{% url 'importer_source_status' sname=s.name %}">Imports</a>
        {% if s.perm_can_admin %}
        <a class="btn btn-sm btn-primary" href="{% url 'sources:update' sname=s.name %}">Edit</a>
        {% endif %}
        {% if s.perm_can_admin or s.perm_can_add_self %}
        <a class="btn btn-sm btn-primary" href="{% url 'sources:members' sname=s.name %}">Members</a>
        {% endif %}
        {% if s.perm_can_admin %}
        <a class="btn btn-sm btn-warning" href="{% url 'sources:delete' sname=s.name %}">Delete</a>
        {% endif %}
        {% if s.perm_can_admin %}
        <a class="btn btn-sm btn-warning" href="{% url 'sources:delete_contributions' sname=s.name %}">Delete all contributions</a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
{% if user.is_authenticated %}
<tfoot>
  <tr>
    <td colspan="6">
      <a href="{% url 'sources:add' %}">Create a new data source</a>
    </td>
  </tr>
</tfoot>
{% endif %}
</table>

<p>
<a href="{% url 'contributors_export_sources' %}">Export all sources to JSON</a>
</p>

{% endblock %}
