{% extends "sources/base.html" %}
{% load i18n %}

{% block relatedpages %}
{% if not user.is_anonymous %}
<a href="{% url 'sources:update' sname=source.name %}">configure</a>
{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>Configure admins for {{source.name}} data source</h2>

<h2>Admin list</h2>

<table class="table" id="admins">
<thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for u in source.admins.all %}
    <tr>
      <td><a href="{{u.get_absolute_url}}">{{u}}</a></td>
      <td>
        {% if can_admin %}
        <form action="{% url 'sources:members_delete' sname=source.name %}" method="POST">{% csrf_token %}
          <input type="hidden" name="name" value="{{u.username}}">
          <button class="btn btn-warning" type="submit">{% trans "Delete" %}</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="2">
      <form action="{% url 'sources:members_add' sname=source.name %}" method="POST">{% csrf_token %}
        {% if can_admin %}
        <div class="form-group">
        <label for="add_username">{% trans "Add admin user" %}</label>
        <input class="form-control" type="text" name="name" id="add_username" placeholder="Username">
        </div>
        <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
        {% else %}
        <input type="hidden" name="name" value="{{request.user.username}}">
        <button class="btn btn-primary" type="submit">{% trans "Add me as an admin" %}</button>
        {% endif %}
      </form>
    </td>
  </tr>
</tfood>
</table>

{% endblock %}

