{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<div class="row">
  <div class="col-md">
    <h1>Debian Contributors list</h1>
  </div>
  <div class="col-md">
    <ul class="nav justify-content-end">
      {% if prev_year %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contributors_year' year=prev_year %}"><span class="fa fa-backward"></span> {{prev_year}}</a>
        </li>
      {% endif %}
      {% if next_year %}
        <li class="nav-item">
        {% now "Y" as current_year %}
        <a class="nav-link" href="{% url 'contributors_year' year=next_year %}">
          <span class="fa fa-forward"></span>{% if current_year == next_year|stringformat:'s' %} Last 12 months{% else %} {{next_year}}{% endif %}</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors_flat' %}"><span class="fa fa-users"></span> all</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors_sources_flat' %}"><span class="fa fa-address-book"></span> teams</a>
      </li>
    </ul>
  </div>
</div>

<p class="lead">
{% if next_year %}
  {{people.count}} people and {{teams.count}} teams were active Debian contributors in {{year}}.
{% else %}
  {{people.count}} people and {{teams.count}} teams contributed to Debian in the last 12 months.
{% endif %}
<br />
<small>The information is based on <a href="{% url 'sources:list' %}">our current knowledge</a>, which you can <a href="https://wiki.debian.org/DebianContributors#Creating_a_new_data_source">help us improve</a>.</small>
</p>

<div class="row">

  <div class="col-md-6">
<table id="contributors" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for p in people %}
    <tr>
        {% with fname=p.user.full_name %}
        <td data-search="{{p.user.username}} {{fname}}"><a href={{p.user.get_absolute_url}}>{{fname|default:p.user}}</a></td>
        {% endwith %}
        <td data-sort="{{p.begin|date:"Y-m"}}">{{p.begin|date:"F Y"}}</td>
        <td data-sort="{{p.until|date:"m"}}">{{p.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
  </div>

  <div class="col-md-6">
<table id="teams" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Team</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for t in teams %}
    <tr>
        <td><a href={% url 'sources:view' sname=t.source.name %}>{{t.source}}</a></td>
        <td data-sort="{{t.begin|date:"Y-m"}}">{{t.begin|date:"F Y"}}</td>
        <td data-sort="{{t.until|date:"m"}}">{{t.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
  </div>

</div>
<p class="card-text"><a href="https://wiki.debian.org/DebianContributors#Why_am_I_not_on_the_contributors_list.3F">why am i not on the list?</a></p>
</div>
{% endblock %}
