{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<h1>Debian Contributor {{contributor}}: unassociate identifiers</h1>

<div id="intro">
  {% if own_page %}
  From this page you can unassociate some of the identifiers currently associated with you.
  {% else %}
  From this page you can unassociate some of the identifiers currently associated with {{contributor}}.
  {% endif %}
</div>

<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Actions" %}</th>
  </tr>
</thead>
<tbody>
{% for ident in identifiers %}
<tr>
  <td>{{ident.type}}</td>
  <td>{{ident.name}}</td>
  <td>
    <form action="{% url 'contributor:unclaim' name=contributor.username %}" method="POST">{% csrf_token %}
      <button name="id" value="{{ident.pk}}">Unassociate</button>
    </form>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
